@charset "UTF-8";

#contents{
  border:1px solid black;
  width: 970px;
  height: 500px;
  margin: auto;
}
.sub_title{
  background: url("../img/sub_title.png") no-repeat;
  text-indent: -9999px;
}

h1.tit02{/* 회원로그인 타이틀이미지 */
width: 132px;
height: 30px;
background-position: 0 -50px;
}

h2.tit03{/* 개인회원 타이틀이미지 */
width: 290px;
height: 75px;
background-position: 0 -80px;
}

h2.tit04{/* 단체회원 타이틀이미지 */
width: 290px;
height: 75px;
background-position: 0 -160px;
}

.login_area{
  width: 750px;
  height: 200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px 70px;
  background: url("../img/login_bg.png") no-repeat;
  position: relative;/* 그룹회원 로그인을 우측으로 */
}
.person_login {
  display: inline-block;
  width: 290px;
}

.group_login {
  display: inline-block;
  width: 290px;
  position: absolute;
  right: 70px;
}
.login {
  padding: 15px 0px;
  position: relative; /* 로그인버튼을 우측으로 붙이기 위해 필요함 */
}

.login .input_area>p {
  width: 200px;
  padding: 3px 0px;
  text-align: right;
}
.login .input_area>p>input{
  width:110px;
  padding:5px;
  border:1px solid #ccc;
  border-radius: 8px;
}
.btn_area{
  display: inline-block;
  width:86px;
  height:56px;
  position: absolute;
  right: 0;
  top: 20px;
}
.b_login{
  width: 86px;
  height: 56px;
  background-position: 0 0;
}
.login_search {
  margin-top: 10px;
  border-top: 2px solid #dedede;
  padding-top: 10px;
  position: relative;
}

.b_search{
  width:157px;
  height:30px;
  background-position: -100px 0px;
  position:absolute;
  right: 0;
  top: 5px;
}
.login .input_area>p>label{
  display: inline-block;
  width: 55px;
  /*border: 1px solid red;*/
  padding-left: 10px;
  background: url("../img/bult.png") no-repeat 0 -77px;
}



















/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


/*#contents h1{*/
/*  background: url("../img/sub_title.png")no-repeat;*/
/*  height: 30px;*/
/*  background-position: 0 -50px;*/
/*  text-indent: -9999px;*/
/*  margin-bottom: 50px;*/
/*  margin-top: 20px;*/

/*}*/

/*#contents .login_area{*/
/*  background: url("../img/login_bg.png");*/
/*  display: flex;*/
/*  height: 241px;*/
/*  width: 885px;*/
/*  margin-left: 84px;*/
/*  border:1px solid sienna;*/

/*}*/
/*.person_login{*/
/*  border:1px solid blueviolet;*/

/*}*/
/*.group_login{*/
/*  border:1px solid aqua;*/
/*}*/
/*#contents .login_area .sub_title{ !*위치 값 기억해야지 아래 로그인이랑 맞출수 있음*!*/
/*  height:77px;*/
/*  width:300px;*/
/*  background: url("../img/sub_title.png")no-repeat;*/


/*}*/
/*#contents .login_area .sub_title.tit03{!*일반개인회원가입 로그인*!*/
/*  text-indent: -9999px;*/
/*  background-position: 0 -79px;*/
/*  !*border:1px solid crimson;*!*/
/*}*/
/*#contents .login_area .sub_title.tit04{!*기관단체회원가입 로그인*!*/
/*  text-indent: -9999px;*/
/*  background-position: 0 -159px;*/
/*}*/

/*.login .input_area>p>label{ !*아이디 비번레이블*!*/
/*  !*bult.png*!*/
/*  background: url("../img/bult.png")no-repeat;*/
/*  background-position: 0 -77px;*/
/*  border:1px solid #b3d4fc;*/
/*  padding-left: 10px;*/
/*}*/
/*.login .input_area>p>input{!*아이디비번 텍스트상자*!*/
/*  border-radius: 5px;*/
/*  border:1px solid #888888;*/
/*  width:100px;*/
/*  margin-top: 3px;*/
/*  height: 20px;*/
/*}*/
/*.btn_area .btn {*/
/*  display: inline-block;*/
/*  background: url("../img/btn.png") no-repeat;*/
/*  width:86px;*/
/*  height: 56px;*/
/*  position:absolute;*/
/*  right: 0;*/
/*  top:0;*/
/*}*/

/*.input_area{*/
/*  !*border:1px dashed deeppink;*!*/
/*  height:65px;*/
/*  margin-left: 30px;*/


/*}*/
/*form{*/
/*  border:1px solid dodgerblue;*/
/*  width:100%;*/
/*  height: 100px;*/
/*  margin: auto;*/
/*  margin-top: 10px;*/
/*  position: relative;*/
/*}*/

/*.login_area .person_login{*/
/*  width:290px;*/
/*  height: 180px;*/
/*  border:1px solid darkblue ;*/
/*  margin:auto;*/
/*}*/
/*.login_area .group_login{*/
/*  border:1px solid darkblue ;*/
/*  width:290px;*/
/*  margin:auto;*/
/*  height: 180px;*/
/*}*/
/*.login_search .btn{*/
/*  background: url("../img/btn.png")no-repeat;*/
/*  width:156px;*/
/*  height:28px;*/
/*  !*border:1px solid black;*!*/
/*  background-position: -100px 0;*/
/*  position: absolute;*/
/*  right: 0;*/
/*}*/

/*#s_id{*/
/*margin-left: 12px;*/
/*}*/

/*#s_id2{*/
/*  margin-left: 12px;*/
/*}*/
/*.login .input_area>p>*/
